
#calcResult {
font-size: 14px;
}

.calcButton {
font-size: 12px;
  background: var(--bg-color);
  border: 2px solid rgba(255, 255, 255, 0.1);
}
#connectBtn{
font-size: 12px;
  background: var(--bg-color);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

#disconnectBtn{
font-size: 12px;
background: var(--bg-color);
border: 2px solid rgba(255, 255, 255, 0.1);
}

.calcButton:hover {
  background: var(--bg-color);
  border-color: var(--border-color);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 10px var(--highlight-color);
}

#disconnectBtn:hover {
  background: var(--bg-color);
  border-color: var(--border-color);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 10px var(--highlight-color);
}

#connectBtn:hover {
  background: var(--bg-color);
  border-color: var(--border-color);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 10px var(--highlight-color);
}




.backend-control-group {
  font-size: 12px;
  max-width: 360px;
  margin: 0 0 16px 0;
  padding: 20px 10px 20px 20px;
  background: rgba(42, 42, 42, 0.8);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.backend-control-group h1 {
  margin: 0 0 15px 0;
  color:  #FFBF00;
  font-size: 16px;
  font-weight: 500;
}

.backend-control-group h3 {
  margin: 0 0 15px 0;
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 500;
}

.acceptBtn:hover {
  background: var(--bg-color);
  border-color: var(--border-color);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 10px var(--highlight-color);
}

.denyBtn:hover {
  border-color: rgba(243, 174, 100, 0.9);
  border: 2px solid rgba(243, 174, 100, 0.9);
  box-shadow: 0 2px 10px rgba(240, 132, 18, 0.9);
}

.segmented-backend-control {
  display: block ruby;
  background: rgba(25,25,25,0.8);
  padding: 8px;
  border-radius: 10px;
  gap: 4px;
  margin-bottom: 10px;
}

.segmented-backend-control button {
  border: none;
  background: none;
  color: rgba(255,255,255,0.8);
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 500;
  min-width: 100px;
}

.segmented-backend-control button:hover {
  background: rgba(0,0,0,0.2);
}

.segmented-backend-control button.active {
  background: var(--accent-color);
  color: white;
  font-weight: 500;
}
.segmented-backend-control button.symmetry {
  background: var(--accent-color);
  color: white;
  font-weight: 500;
}

.segmented-backend-control button.ai {
  background: var(--accent-color);
  color: white;
  font-weight: 500;
}

